[submodule "package/luci-theme-opentomato"]
	path = package/luci-theme-opentomato
	url = https://github.com/Leo-Jo-My/luci-theme-opentomato
[submodule "package/luci-theme-opentomcat"]
	path = package/luci-theme-opentomcat
	url = https://github.com/Leo-Jo-My/luci-theme-opentomcat
[submodule "package/luci-app-adguardhome"]
	path = package/luci-app-adguardhome
	url = https://github.com/rufengsuixing/luci-app-adguardhome
[submodule "package/luci-app-tcpdump"]
	path = package/luci-app-tcpdump
	url = https://github.com/MacManas/luci-app-tcpdump